@import _root_.game._
@import _root_.user.User
@import play.api.libs.json.Json
@import _root_.helpers.JsonHelpers

@(game: Game, users: Seq[User], currentUser: User)

@main("Drieën") {

  <h1>Drieën: @game.isInState</h1>
  <div id="game">

    <h2>Tafel: @game.table.map(_.string)</h2>
    <h2>Pot: @game.deck.cards.size kaarten</h2>

    <table style="width: 100%"><tr>
    @game.players.map { player =>
      <td>
      <h1>@users.find(_.id == player.id).map(_.name) @if(player.turn) { : Aan zet }</h1>
      <p>Hand Kaarten:</p>
        @if(player.id == currentUser.id) {
          <ul>
          @player.handCards.sortWith((a, b) => a.rank.rank < b.rank.rank).map { card =>
            <li>
              @card.string @if(player.turn) {
              @if(game.validMovesForState.contains(ThrowOnTable) && player.id == currentUser.id) {
                <a href="@routes.GameController.commitMove(Some(true), game.id, ThrowOnTable.value, JsonHelpers.objToString(Json.obj("suit" -> card.suit.string, "rank" -> card.rank.abbr)))">
                  Gooi op tafel</a>
              }

              @if(game.validMovesForState.contains(ThrowToOwnClosed) && player.id == currentUser.id) {
                <a href="@routes.GameController.commitMove(Some(true), game.id, ThrowToOwnClosed.value, JsonHelpers.objToString(Json.obj("suit" -> card.suit.string, "rank" -> card.rank.abbr)))">
                  Gooi op naar eigen stapel</a>
              }
            }
            </li>
          }
          </ul>
        } else {
          <p>Aantal kaarten: @player.handCards.size</p>
        }

        @if(player.turn && player.id == currentUser.id) {
          <a href="@routes.GameController.commitMove(Some(true), game.id, GrabFromTable.value, "{}")">Ik kan niet</a>
        }


        <p>Open Tafel Kaarten:</p>
      <ul>
      @player.openedTableCards.map { card =>
        <li>@card.string @if(player.turn && player.id == currentUser.id) { <a href="@routes.GameController.commitMove(Some(true), game.id, ThrowCardFromOpenTable.value, JsonHelpers.objToString(Json.obj("suit" -> card.suit.string, "rank" -> card.rank.abbr)))">Gooi</a> }</li>
      }
      </ul>

        @if(player.canThrowClosedCard && player.turn && player.id == currentUser.id) {
          <p>Gooi gesloten kaart:</p>
          @player.closedTableCards.map { card =>
            <a href="@routes.GameController.commitMove(Some(true), game.id, ThrowCardFromClosedTable.value, JsonHelpers.objToString(Json.obj("card" -> player.closedTableCards.indexOf(card))))">DEZE? (@player.closedTableCards.indexOf(card))</a>
          }
        }

        <p>Gesloten kaarten: @player.closedTableCards.size</p>

      </td>
    }
    </tr></table>
  </div>

}
